<html>

<head>
    <title>Mr-Moody</title>
</head>

<body>
    
    <h1>{{title}}</h1>
    
    <p>Welcome to {{title}}</p>
    
    <form action="/get-user" method="post" >
    
        user name:<br>
        <input type="text" name="username">
        <br><br>
        <input type="submit" value="Submit">
    
    </form> 

</body>

</html>
