<html>

<head>
    <title>Mr-Moody</title>
    <style href="../public/stylesheets/style.css"></style>
</head>

<body>

    <div>
    <h1 id="heading">{{title}}</h1>
    <form action="/get-user" method="post" >
    
        <br>
        <input type="text" id="ben" name="username" placeholder="Username">
        <br><br>
        <input type="submit" id = "ho" value="Submit">
    
    </form> 
</div>
</body>

</html>
